@use "../../../styles/utils" as *;

.list {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.listItem,
.listItemEmpty {
  display: flex;
  column-gap: 10px;
  font-size: var(--font-main);
  padding: 10px 0;
  box-shadow: $bottom-shadow;
}

.listItemEmpty {
  justify-content: center;
  color: black;
  box-shadow: none;
}

.label,
.buttons {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.label {
  flex-grow: 1;
  .checkbox {
    padding: 8px 14px 8px 8px;
  }

  .text {
    color: black;
    line-height: 1.3;
    transition: opacity 0.1s linear;
    &.completed {
      opacity: 0.5;
    }
  }
}

.buttons {
  justify-content: flex-end;
  .select {
    width: 120px;
    height: 30px;
    text-align: center;
  }
}

@media screen and (max-width: $bpSmall) {
  .listItem {
    flex-direction: column;
    .checkbox {
      padding: 8px;
    }
  }

  .buttons {
    justify-content: flex-start;
    .select {
      width: 100%;
      margin-right: 10px;
    }
  }
}
